.places  h1 {
    font-size: 30px;
    flex: 100%;
    margin-left: 20px;
    margin-top: 80px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
}
.places {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

